.card {
    background-color: #fff;
    padding: 8px;
    margin: 10px 0;
    font-size: 12px;

    &.high-priority {
        background-color: rgba($color: red, $alpha: 0.1)
    }

    &.low-priority {
        background-color: rgba($color: #f5f5f5, $alpha: 1.0)
    }

    &.completed {
        background-color: #ddd
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        
        h4 {
            margin: 0 5px 5px 0;
        }
    }

    .helpline {
        display: flex;
        justify-content: space-between;

        button {
            margin-left: 5px;
            font-size: 12px;
        }
    }
}